
<html>
<head>
 
</head>
<body>
<div class= "header">
<table style="width: 100%; border-collapse: collapse;">
  <tr>
    <td style="padding: 10px 15px; text-align: center; border: 0px solid #0d0202;">
      <a href="{{site.baseurl}}/" style="text-decoration: none; color: #40869e;">Home</a>
    </td>
    <td style="padding: 10px 15px; text-align: center; border: 0px solid  #0d0202;">
      <a href="{{site.baseurl}}/blogs" style="text-decoration: none; color: #4e7983;">Blogs</a>
    </td>
    <td style="padding: 10px 15px; text-align: center; border: 0px solid  #0d0202;">
      <a href="{{site.baseurl}}/labnotebook" style="text-decoration: none; color: #4e7983">LAB NB</a>
    </td>
    <td style="padding: 10px 15px; text-align: center; border: 0px solid  #0d0202;">
      <a href="{{site.baseurl}}/journey" style="text-decoration: none; color: #4e7983">About ME!</a>
    </td>
  </tr>
</table></div>
<style>
  .header {
  background-color: #b3d4db; /* Change this color to the desired one */
  color: #FFFFFF; /
}
</style>
</body>
</html>
